# Node.js
node_modules/
dist/
.env
.env.*
*.log

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
crash.log

# Keep the lock file in Git
#! .terraform.lock.hcl

# Docker
*.tar

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/